<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editing Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Editing article</h1>
    <form method="post">
        <input type="text" th:value="${title}" name="title" placeholder="enter title" class="form-control"><br>
        <input type="text" th:value="${anons}" name="anons" placeholder="enter anons" class="form-control"><br>
        <textarea name="full_text" placeholder="enter text of article" class="form-control" th:text="${fulltext}"/><br>
        <button type="submit" class="btn btn-success">Update article</button>
    </form>

</div>


<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>

</body>
</html>